html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 1.4em;
}

.togglelist {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.togglelist li.option {
  display: none;
}

.togglelist.transfer li.option.transfer {
  display: list-item;
}

.togglelist.record li.option.record {
  display: list-item;
}

.togglelist li.option {
  display: none;
  padding-left: 20px;
  font-size: 90%;
}

.togglelist li.sub.option {
  padding-left: 40px;
  font-size: 80%;
}

.togglelist li a {
  display: block;
  min-width: 320px;
  line-height: 16px;
  margin: 3px auto;
  padding: 10px 20px;
  background-color: #eee;
  color: #000000;
  text-decoration: none;
}

.togglelist li img {
  position: relative;
  top: 2px;
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.togglelist li a .material-icons {
  font-size: 18px;
  line-height: 0;
  position: relative;
  top: 4px;
  margin-right: 5px;
}

.togglelist li:first-child a {
  margin-top: 0;
  border-top-left-radius: 3px 3px;
  border-top-right-radius: 3px 3px;
}

.togglelist li:last-child a {
  margin-bottom: 0;
  border-bottom-left-radius: 3px 3px;
  border-bottom-right-radius: 3px 3px;
}

.togglelist li a:hover,
.togglelist li a:focus,
.togglelist li a:hover .material-icons {
  background-color: #4FC3F7;
  color: #000;
  outline: none;
}

.togglelist li a.wait {
	background-color: #EEE;
}

.togglelist li .active {
  background: #039BE5;
  color: #ffffff;
}

.togglelist li .active .material-icons {
  color: #ffffff;
}

.inlineicon {
  vertical-align: middle;
  min-width: 16px;
  min-height: 16px;
  padding: 0 6px 0 0;
}

.color--green {
  color: #44BB55;
}

.color--blue {
  color: #0099EE;
}

.color--purple {
  color: #6633BB;
}

.color--gray {
  color: #666666;
}
